{% load static %}
<section class="about-wrap-layout8">
    <ul class="animated-buble has-animation">
        <li>
            <div class="translate-right-100 opacity-animation transition-200 transition-delay-100">
                <svg width="616px" height="616px">
                    <defs>
                        <linearGradient id="animated-buble1" x1="0%" x2="50%" y1="86.603%" y2="0%">
                            <stop offset="0%" stop-color="rgb(90,73,248)" stop-opacity="1" />
                            <stop offset="100%" stop-color="rgb(123,100,242)" stop-opacity="1" />
                        </linearGradient>
                    </defs>
                    <path fill="url(#animated-buble1)" opacity="0.4"
                        d="M308.000,-0.000 C478.104,-0.000 616.000,137.896 616.000,308.000 C616.000,478.103 478.104,616.000 308.000,616.000 C137.896,616.000 -0.000,478.103 -0.000,308.000 C-0.000,137.896 137.896,-0.000 308.000,-0.000 Z" />
                </svg>
            </div>
        </li>
        <li>
            <div class="translate-right-100 opacity-animation transition-200 transition-delay-500">
                <svg width="489px" height="489px">
                    <defs>
                        <linearGradient id="animated-buble2" x1="0%" x2="50%" y1="86.603%" y2="0%">
                            <stop offset="0%" stop-color="rgb(90,73,248)" stop-opacity="1" />
                            <stop offset="100%" stop-color="rgb(123,100,242)" stop-opacity="1" />
                        </linearGradient>
                    </defs>
                    <path fill="url(#animated-buble2)" opacity="0.4"
                        d="M244.500,-0.000 C379.534,-0.000 489.000,109.466 489.000,244.500 C489.000,379.533 379.534,489.000 244.500,489.000 C109.466,489.000 -0.000,379.533 -0.000,244.500 C-0.000,109.466 109.466,-0.000 244.500,-0.000 Z" />
                </svg>
            </div>
        </li>
        <li>
            <div class="translate-right-100 opacity-animation transition-200 transition-delay-900">
                <svg width="411px" height="411px">
                    <defs>
                        <linearGradient id="animated-buble3" x1="0%" x2="50%" y1="86.603%" y2="0%">
                            <stop offset="0%" stop-color="rgb(90,73,248)" stop-opacity="1" />
                            <stop offset="100%" stop-color="rgb(123,100,242)" stop-opacity="1" />
                        </linearGradient>
                    </defs>
                    <path fill="url(#animated-buble3)" opacity="0.4"
                        d="M205.500,-0.000 C318.994,-0.000 411.000,92.005 411.000,205.500 C411.000,318.994 318.994,411.000 205.500,411.000 C92.005,411.000 -0.000,318.994 -0.000,205.500 C-0.000,92.005 92.005,-0.000 205.500,-0.000 Z" />
                </svg>
            </div>
        </li>
    </ul>
    <div class="container-fluid">
        <div class="row d-flex align-items-center">
            <div class="col-xl-6 col-12 pl-0 pr-0">
                <div class="about-box-layout8">
                    <div class="figure-holder">
                        <img src="{% static 'media/about/about-back.jpg' %}" alt="About">
                        <a class="play-btn popup-youtube" href="http://www.youtube.com/watch?v=1iIZeIy7TqM">
                            <div class="item-icon"><i class="fas fa-play"></i></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-12 compress-right-side">
                <div class="about-box-layout8">
                    <div class="content-holder has-animation">
                        <div
                            class="translate-bottom-75 opacity-animation transition-150 transition-delay-1000">
                            <h2 class="item-title">We Work With 20 Years Of Experience</h2>
                        </div>
                        <div
                            class="translate-bottom-75 opacity-animation transition-150 transition-delay-1300">
                            <p>Grursus mal suada faci lisis Lorem ipsum dolarorit more a ametion that
                                consectetur elit. Vesti at bulum nec odio aea the dumm ipsumm ipsum that
                                dolocons rsus mal suada and fadolorit.</p>
                        </div>
                        <div
                            class="translate-bottom-75 opacity-animation transition-150 transition-delay-1600">
                            <ul class="list-item">
                                <li>Web Design &amp; Development</li>
                                <li>Online Support</li>
                                <li>Best Leadership Ideas</li>
                                <li>Expert Team</li>
                                <li>Offerdable Price</li>
                                <li>Quick Access</li>
                                <li>Pixel Perfect</li>
                                <li>Creativity and Clarity.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

