{% load static %}
<section class="feature-wrap-layout9 section-padding-md-equal">
    <div class="container">
        <div class="section-heading heading-dark heading-layout4">
            <div class="heading-sub-title">Our company</div>
            <h2 class="heading-main-title">Solve Your Problem With Very Faster</h2>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6 col-12 has-animation">
                <div class="translate-left-75 opacity-animation transition-200 transition-delay-10">
                    <div class="feature-box-layout9">
                        <div class="item-figure">
                            <img src="{% static 'media/feature/feature10.png' %}" alt="Feature">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12 has-animation">
                <div class="translate-bottom-75 opacity-animation transition-200 transition-delay-10">
                    <div class="feature-box-layout9">
                        <div class="item-content">
                            <h2 class="item-title">We run all kinds of IT services that vow your success
                            </h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod is that
                                a tempor incididunt ut labore et dolore magna aliqua. Ut enim exercitation
                                ullamco laboris aliquip.</p>
                            <ul class="list-item">
                                <li class="icon-bg-dodger-blue-2">
                                    <div class="item-icon">
                                        <i class="flaticon-innovation"></i>
                                    </div>
                                    <div class="inner-item-content">
                                        <h3 class="inner-title">Free tools</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit tempor
                                            incididunt labore.</p>
                                    </div>
                                </li>
                                <li class="icon-bg-radical-red">
                                    <div class="item-icon">
                                        <i class="flaticon-shield"></i>
                                    </div>
                                    <div class="inner-item-content">
                                        <h3 class="inner-title">Premium Software</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit tempor
                                            incididunt labore.</p>
                                    </div>
                                </li>
                                <li class="icon-bg-west-side">
                                    <div class="item-icon">
                                        <i class="flaticon-shield"></i>
                                    </div>
                                    <div class="inner-item-content">
                                        <h3 class="inner-title">24/7 Support Team</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit tempor
                                            incididunt labore.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>