{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> About US </title>
    {% include 'app/css_links.html' %}
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'media/favicon.png' %}">

</head>

<body>
    {% include 'app/preloader.html' %}



    <div id="wrapper" class="wrapper">

        {% include 'app/main_content.html' %}


        <div id="main_content">

            <!--=====================================-->
            <!--=            Navbar Start           =-->
            <!--=====================================-->
            {% include 'app/navbar.html' %}
            <!--=====================================-->
            <!--=              Navbar End           =-->
            <!--=====================================-->
            <!--=====================================-->
            <!--=         Main Banner Start         =-->
            <!--=====================================-->
            {% include 'app/about_baner.html' %}
            <!--=====================================-->
            <!--=           Main Banner End         =-->
            <!--=====================================-->
            <!--=====================================-->
            <!--=     About Section Area Start      =-->
            <!--=====================================-->
            {% include 'app/about_sections_1.html' %}
            <!--=====================================-->
            <!--=      About Section Area End       =-->
            <!--=====================================-->
            <!--=====================================-->
            <!--=     About Section Area Start      =-->
            <!--=====================================-->
            {% include 'app/about_sections.html' %}
            <!--=====================================-->
            <!--=      About Section Area End       =-->
            <!--=====================================-->
            <!--=====================================-->
            <!--=      Team Section Area Start      =-->
            <!--=====================================-->
            {% include 'app/teams.html' %}
            <!--=====================================-->
            <!--=       Team Section Area End       =-->
            <!--=====================================-->
            <!--=====================================-->
            <!--=     Brand Section Area Start      =-->
            <!--=====================================-->
            {% include 'app/brand_area.html' %}
            <!--=====================================-->
            <!--=      Brand Section Area End       =-->
            <!--=====================================-->
            <!--=====================================-->
            <!--=     Footer Section Area Start     =-->
            <!--=====================================-->
            {% include 'app/footer.html' %}
            <!--=====================================-->
            <!--=      Footer Section Area End      =-->
            <!--=====================================-->
        </div>
    </div>

    {% include 'app/js_links.html' %}

</body>

</html>