{% load static %}
<section class="service-wrap-layout11 section-padding-md bg-color-light">
    <div class="container">
        <div class="row has-animation">
            <div class="col-lg-4 col-12">
                <div class="translate-bottom-100 opacity-animation transition-100 transition-delay-100">
                    <div class="service-box-layout9">
                        <div class="item-icon icon-bg-california">
                            <div class="icon-color">
                                <i class="flaticon-marketing"></i>
                            </div>
                        </div>
                        <h3 class="item-title"><a href="service-details.html">SEO Consultancy</a></h3>
                        <p>Grursus mal suada faci ipsum to and the and dolarorit ametion consectetur elitto
                            more bulum that odio...</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="translate-bottom-100 opacity-animation transition-100 transition-delay-300">
                    <div class="service-box-layout9">
                        <div class="item-icon icon-bg-california">
                            <div class="icon-color">
                                <i class="flaticon-growth"></i>
                            </div>
                        </div>
                        <h3 class="item-title"><a href="service-details.html">Competitor Analysis</a></h3>
                        <p>Grursus mal suada faci ipsum to and the and dolarorit ametion consectetur elitto
                            more bulum that odio...</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="translate-bottom-100 opacity-animation transition-100 transition-delay-500">
                    <div class="service-box-layout9">
                        <div class="item-icon icon-bg-california">
                            <div class="icon-color">
                                <i class="flaticon-speaker"></i>
                            </div>
                        </div>
                        <h3 class="item-title"><a href="service-details.html">Social Media Marketing</a>
                        </h3>
                        <p>Grursus mal suada faci ipsum to and the and dolarorit ametion consectetur elitto
                            more bulum that odio...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>