<section class="history-wrap-layout1 has-animation">
    <div class="container">
        <div class="section-heading heading-dark heading-layout4">
            <div class="heading-sub-title">Our Story</div>
            <h2 class="heading-main-title">The Story Degico</h2>
        </div>
        <ul class="history-inner-layout1">
            <li class="history-box-layout1">
                <div class="item-year">2013</div>
                <div class="item-content">
                    <h3>Established</h3>
                    <p>Grursus mal suada faci lisis Lorem ipsum more dolarorit ametion consectetur elit.
                    </p>
                </div>
            </li>
            <li class="history-box-layout1">
                <div class="item-year">2015</div>
                <div class="item-content">
                    <h3>Office Founded</h3>
                    <p>Grursus mal suada faci lisis Lorem ipsum more dolarorit ametion consectetur elit.
                    </p>
                </div>
            </li>
            <li class="history-box-layout1">
                <div class="item-year">2017</div>
                <div class="item-content">
                    <h3>Big Restructuring..</h3>
                    <p>Grursus mal suada faci lisis Lorem ipsum more dolarorit ametion consectetur elit.
                    </p>
                </div>
            </li>
            <li class="history-box-layout1">
                <div class="item-year">2018</div>
                <div class="item-content">
                    <h3>We Have Opened Two Offices</h3>
                    <p>Grursus mal suada faci lisis Lorem ipsum more dolarorit ametion consectetur elit.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>