{% load static %}
<section id="about" class="section-padding-md about-wrap-layout1">
    <ul class="animated-shape has-animation">
        <li>
            <div class="translate-right-75 opacity-animation transition-200 transition-delay-10">
                <img src="{% static 'media/element/element17.png' %}" alt="Animated Figure">
            </div>
        </li>
    </ul>
    <div class="container-fluid">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6 pl-0 pr-0">
                <div class="about-box-layout1">
                    <ul class="figure-holder has-animation">
                        <li class="animated-bg">
                            <div class="translate-left-75 opacity-animation transition-200 transition-delay-10">
                                <svg width="638px" height="514px">
                                    <path fill-rule="evenodd" opacity="0.031" fill="rgb(2, 86, 225)"
                                        d="M256.191,-0.005 C397.682,-0.005 406.513,181.938 525.597,258.322 C824.664,450.157 454.262,521.729 256.191,512.196 C114.864,505.394 -0.000,397.536 -0.000,256.097 C-0.000,114.655 114.701,-0.005 256.191,-0.005 Z" />
                                </svg>
                            </div>
                        </li>
                        <li class="animated-figure">
                            <div class="translate-left-75 opacity-animation transition-150 transition-delay-1000">
                                <img src="{% static 'media/about/about2.png' %}" alt="About">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 compress-right-side">
                <div class="about-box-layout1">
                    <div class="content-holder has-animation">
                        <div class="translate-bottom-75 opacity-animation transition-150 transition-delay-1000">
                            <h2 class="item-title">Exclusive Agency For Technology Provide Soluation</h2>
                        </div>
                        <div class="translate-bottom-75 opacity-animation transition-150 transition-delay-1300">
                            <p>Grursus mal suada faci lisis Lorem ipsum dolarorit ametion consectetur elit. Vesti at
                                bulum nec odio aea the dumm ipsumm ipsum dolocons is suada a and fadolorit to the
                                consectetur elit.</p>
                        </div>
                        <div class="translate-bottom-75 opacity-animation transition-150 transition-delay-1600">
                            <ul class="list-item">
                                <li>Lorem ipsum dolarorit ametion consectetur elit.</li>
                                <li>Vesti at bulum nec odio aea the dumm ipsumm ipsum</li>
                                <li>Grursus mal suada faci lisis Lorem ipsum dolarorit.</li>
                                <li>Suada faci lisis Lorem ipsum dolarorit.</li>
                            </ul>
                        </div>
                        <div class="translate-bottom-75 opacity-animation transition-150 transition-delay-1900">
                            <a href="about.html" class="btn-fill btn-gradient">Read More<i
                                    class="flaticon-next"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>