{% load static %}
<section class="section-padding-bottom-md about-wrap-layout10 has-animation">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6 col-12">
                <div class="about-box-layout10">
                    <div class="content-holder">
                        <div class="translate-bottom-75 opacity-animation transition-150 transition-delay-100">
                            <h2 class="item-title">Exclusive Agency To Technology Provide Soluation</h2>
                        </div>
                        <div class="translate-bottom-75 opacity-animation transition-150 transition-delay-500">
                            <p>Grursus mal suada faci lisis Lorem ipsum dolarorit ametion consectetur elit.
                                The Vesti at bulum nec odio aea the dumm ipsumm ipsum dolocons is suada a
                                and fadolorit to the consectetur elit. Grursus mal suada faci
                                lisis Lorem dolarorit the ametion consectetur elit.</p>
                        </div>
                        <div class="translate-bottom-75 opacity-animation transition-150 transition-delay-900">
                            <p>Grursus mal suada faci lisis Lorem ipsum dolarorit ametion consectetur elit.
                                Vesti at bulum nec odio aea the dumm ipsumm ipsum dolocons is suada a and
                                fadolorit to the consectetur elit.</p>
                        </div>
                        <div class="translate-bottom-75 opacity-animation transition-150 transition-delay-1300">
                            <a href="about.html" class="btn-fill btn-gradient">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="about-box-layout10">
                    <div class="figure-holder">
                        <div class="translate-right-75 opacity-animation transition-200 transition-delay-1700">
                            <img src="{% static 'media/about/about5.png' %}" alt="About">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>