{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'media/favicon.png' %}">

    {% include 'app/css_links.html '%}
    <title>Web App Store</title>
</head>

<body>
    {% include 'app/preloader.html '%}




    <div id="wrapper" class="wrapper">

        {% include 'app/main_content.html '%}



        <div id="main_content">
            <!--=====================================-->
            <!--=            Navbar Start           =-->
            <!--=====================================-->
            {% include 'app/navbar.html'%}
            <!--=====================================-->
            <!--=              Navbar End           =-->
            <!--=====================================-->

            <!--=====================================-->
            <!--=            Navbar Start           =-->
            <!--=====================================-->
            {% include 'app/baner.html'%}
            <!--=====================================-->
            <!--=              Navbar End           =-->
            <!--=====================================-->

            <!--=====================================-->
            <!--=     About Section Area Start      =-->
            <!--=====================================-->
            {% include 'app/abouts.html'%}
            <!--=====================================-->
            <!--=      About Section Area End       =-->
            <!--=====================================-->

            <!--=====================================-->
            <!--=    Service Section Area Start     =-->
            <!--=====================================-->
            {% include 'app/services.html'%}
            <!--=====================================-->
            <!--=     Service Section Area End      =-->
            <!--=====================================-->

            <!--=====================================-->
            <!--=   Process Section Area Start      =-->
            <!--=====================================-->
            {% include 'app/process_area.html'%}
            <!--=====================================-->
            <!--=    Process Section Area End       =-->
            <!--=====================================-->

            <!--=====================================-->
            <!--=   Progress Section Area Start     =-->
            <!--=====================================-->
            {% include 'app/process_area_2.html'%}
            <!--=====================================-->
            <!--=    Progress Section Area End      =-->
            <!--=====================================-->

            <!--=====================================-->
            <!--=   Feature Section Area Start      =-->
            <!--=====================================-->
            {% include 'app/feature.html'%}
            <!--=====================================-->
            <!--=    Feature Section Area End       =-->
            <!--=====================================-->

            <!--=====================================-->
            <!--=  Testimonial Section Area Start   =-->
            <!--=====================================-->
            {% include 'app/testimonial.html'%}
            <!--=====================================-->
            <!--=   Testimonial Section Area End    =-->
            <!--=====================================-->

            <!--=====================================-->
            <!--= Call To Action Section Area Start =-->
            <!--=====================================-->
            {% include 'app/section_area.html'%}
            <!--=====================================-->
            <!--=  Call To Action Section Area End  =-->
            <!--=====================================-->

            <!--=====================================-->
            <!--=     Blog Section Area Start       =-->
            <!--=====================================-->
            {% include 'app/blog_section_area.html'%}
            <!--=====================================-->
            <!--=      Blog Section Area End        =-->
            <!--=====================================-->

            <!--=====================================-->
            <!--=   Contact Section Area Start      =-->
            <!--=====================================-->
            {% include 'app/contacts.html'%}
            <!--=====================================-->
            <!--=    Contact Section Area End       =-->
            <!--=====================================-->

            <!--=====================================-->
            <!--=     Brand Section Area Start      =-->
            <!--=====================================-->
            {% include 'app/brand_area.html'%}
            <!--=====================================-->
            <!--=      Brand Section Area End       =-->
            <!--=====================================-->

            <!--=====================================-->
            <!--=     Footer Section Area Start     =-->
            <!--=====================================-->
            {% include 'app/footer.html'%}
            <!--=====================================-->
            <!--=      Footer Section Area End      =-->
            <!--=====================================-->

            <!--=====================================-->
            <!--=       Template Search Start       =-->
            <!--=====================================-->
            {% include 'app/search.html'%}
            <!--=====================================-->
            <!--=        Template Search End        =-->
            <!--=====================================-->

        </div>


    </div>



    {% include 'app/js_links.html '%}

</body>

</html>