{% load static %}
<section class="section-padding-md-equal bg-color-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-12 has-animation">
                <div class="translate-bottom-75 opacity-animation transition-150 transition-delay-100">
                    <div class="blog-box-layout2">
                        <div class="item-figure">
                            <a href="blog-details.html"><img src="{% static 'media/blog/blog4.jpg' %}" alt="Blog Figure"></a>
                        </div>
                        <div class="item-content">
                            <ul class="mb--5 entry-meta meta-color-accent justify-content-between">
                                <li><a href="#">Feb 18, 2019</a></li>
                            </ul>
                            <h3 class="entry-title title-color-dark"><a href="blog-details.html">5 Ways Technology Today
                                    at Improved Business.</a></h3>
                            <a href="blog-details.html" class="btn-text">Read More<i class="flaticon-next"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12 has-animation">
                <div class="translate-bottom-75 opacity-animation transition-150 transition-delay-500">
                    <div class="blog-box-layout2">
                        <div class="item-figure">
                            <a href="blog-details.html"><img src="{% static 'media/blog/blog5.jpg' %}" alt="Blog Figure"></a>
                        </div>
                        <div class="item-content">
                            <ul class="mb--5 entry-meta meta-color-accent justify-content-between">
                                <li><a href="#">Feb 18, 2019</a></li>
                            </ul>
                            <h3 class="entry-title title-color-dark"><a href="blog-details.html">How Wireless Technology
                                    more Changing Business.</a></h3>
                            <a href="blog-details.html" class="btn-text">Read More<i class="flaticon-next"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12 has-animation">
                <div class="translate-bottom-75 opacity-animation transition-150 transition-delay-900">
                    <div class="blog-box-layout2">
                        <div class="item-figure">
                            <a href="blog-details.html"><img src="{% static 'media/blog/blog6.jpg' %}" alt="Blog Figure"></a>
                        </div>
                        <div class="item-content">
                            <ul class="mb--5 entry-meta meta-color-accent justify-content-between">
                                <li><a href="#">Feb 18, 2019</a></li>
                            </ul>
                            <h3 class="entry-title title-color-dark"><a href="blog-details.html">Thirty surrogate
                                    mothers the trafficking.</a></h3>
                            <a href="blog-details.html" class="btn-text">Read More<i class="flaticon-next"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12 has-animation">
                <div class="translate-bottom-75 opacity-animation transition-150 transition-delay-100">
                    <div class="blog-box-layout2">
                        <div class="item-figure">
                            <a href="blog-details.html"><img src="{% static 'media/blog/blog10.jpg' %}" alt="Blog Figure"></a>
                        </div>
                        <div class="item-content">
                            <ul class="mb--5 entry-meta meta-color-accent justify-content-between">
                                <li><a href="#">Feb 18, 2019</a></li>
                            </ul>
                            <h3 class="entry-title title-color-dark"><a href="blog-details.html">Questions every
                                    business owner must answer correctly.</a></h3>
                            <a href="blog-details.html" class="btn-text">Read More<i class="flaticon-next"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12 has-animation">
                <div class="translate-bottom-75 opacity-animation transition-150 transition-delay-500">
                    <div class="blog-box-layout2">
                        <div class="item-figure">
                            <a href="blog-details.html"><img src="{% static 'media/blog/blog11.jpg' %}" alt="Blog Figure"></a>
                        </div>
                        <div class="item-content">
                            <ul class="mb--5 entry-meta meta-color-accent justify-content-between">
                                <li><a href="#">Feb 18, 2019</a></li>
                            </ul>
                            <h3 class="entry-title title-color-dark"><a href="blog-details.html">How Wireless Technology
                                    more Changing Business.</a></h3>
                            <a href="blog-details.html" class="btn-text">Read More<i class="flaticon-next"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12 has-animation">
                <div class="translate-bottom-75 opacity-animation transition-150 transition-delay-900">
                    <div class="blog-box-layout2">
                        <div class="item-figure">
                            <a href="blog-details.html"><img src="{% static 'media/blog/blog12.jpg' %}" alt="Blog Figure"></a>
                        </div>
                        <div class="item-content">
                            <ul class="mb--5 entry-meta meta-color-accent justify-content-between">
                                <li><a href="#">Feb 18, 2019</a></li>
                            </ul>
                            <h3 class="entry-title title-color-dark"><a href="blog-details.html">The Biggest Mistake You
                                    Can Make When Setting New Goals.</a></h3>
                            <a href="blog-details.html" class="btn-text">Read More<i class="flaticon-next"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12 has-animation">
                <div class="translate-bottom-75 opacity-animation transition-150 transition-delay-100">
                    <div class="blog-box-layout2">
                        <div class="item-figure">
                            <a href="blog-details.html"><img src="{% static 'media/blog/blog13.jpg' %}" alt="Blog Figure"></a>
                        </div>
                        <div class="item-content">
                            <ul class="mb--5 entry-meta meta-color-accent justify-content-between">
                                <li><a href="#">Feb 18, 2019</a></li>
                            </ul>
                            <h3 class="entry-title title-color-dark"><a href="blog-details.html">10 Ways You Can Start
                                    Empowering Your Employees.</a></h3>
                            <a href="blog-details.html" class="btn-text">Read More<i class="flaticon-next"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12 has-animation">
                <div class="translate-bottom-75 opacity-animation transition-150 transition-delay-500">
                    <div class="blog-box-layout2">
                        <div class="item-figure">
                            <a href="blog-details.html"><img src="{% static 'media/blog/blog14.jpg' %}" alt="Blog Figure"></a>
                        </div>
                        <div class="item-content">
                            <ul class="mb--5 entry-meta meta-color-accent justify-content-between">
                                <li><a href="#">Feb 18, 2019</a></li>
                            </ul>
                            <h3 class="entry-title title-color-dark"><a href="blog-details.html">How Wireless Technology
                                    more Changing Business.</a></h3>
                            <a href="blog-details.html" class="btn-text">Read More<i class="flaticon-next"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12 has-animation">
                <div class="translate-bottom-75 opacity-animation transition-150 transition-delay-900">
                    <div class="blog-box-layout2">
                        <div class="item-figure">
                            <a href="blog-details.html"><img src="{% static 'media/blog/blog15.jpg' %}" alt="Blog Figure"></a>
                        </div>
                        <div class="item-content">
                            <ul class="mb--5 entry-meta meta-color-accent justify-content-between">
                                <li><a href="#">Feb 18, 2019</a></li>
                            </ul>
                            <h3 class="entry-title title-color-dark"><a href="blog-details.html">What Audience Wants
                                    From Your Speaking Engagement.</a></h3>
                            <a href="blog-details.html" class="btn-text">Read More<i class="flaticon-next"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12 has-animation">
                <div class="translate-bottom-75 opacity-animation transition-150 transition-delay-100">
                    <div class="blog-box-layout2">
                        <div class="item-figure">
                            <a href="blog-details.html"><img src="{% static 'media/blog/blog16.jpg' %}" alt="Blog Figure"></a>
                        </div>
                        <div class="item-content">
                            <ul class="mb--5 entry-meta meta-color-accent justify-content-between">
                                <li><a href="#">Feb 18, 2019</a></li>
                            </ul>
                            <h3 class="entry-title title-color-dark"><a href="blog-details.html">3 Clear Warnings That
                                    Say Your Goals Are Too Small.</a></h3>
                            <a href="blog-details.html" class="btn-text">Read More<i class="flaticon-next"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12 has-animation">
                <div class="translate-bottom-75 opacity-animation transition-150 transition-delay-500">
                    <div class="blog-box-layout2">
                        <div class="item-figure">
                            <a href="blog-details.html"><img src="{% static 'media/blog/blog17.jpg' %}" alt="Blog Figure"></a>
                        </div>
                        <div class="item-content">
                            <ul class="mb--5 entry-meta meta-color-accent justify-content-between">
                                <li><a href="#">Feb 18, 2019</a></li>
                            </ul>
                            <h3 class="entry-title title-color-dark"><a href="blog-details.html">How Wireless Technology
                                    more Changing Business.</a></h3>
                            <a href="blog-details.html" class="btn-text">Read More<i class="flaticon-next"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12 has-animation">
                <div class="translate-bottom-75 opacity-animation transition-150 transition-delay-900">
                    <div class="blog-box-layout2">
                        <div class="item-figure">
                            <a href="blog-details.html"><img src="{% static 'media/blog/blog18.jpg' %}" alt="Blog Figure"></a>
                        </div>
                        <div class="item-content">
                            <ul class="mb--5 entry-meta meta-color-accent justify-content-between">
                                <li><a href="#">Feb 18, 2019</a></li>
                            </ul>
                            <h3 class="entry-title title-color-dark"><a href="blog-details.html">Why Diversification of
                                    Marketing Strategies is Vital.</a></h3>
                            <a href="blog-details.html" class="btn-text">Read More<i class="flaticon-next"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <ul class="pagination-layout1">
                    <li><a href="#"><i class="fas fa-angle-double-left"></i></a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#"><i class="fas fa-angle-double-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>