{% load static %}
<section id="brand-wrap-layout1" class="brand-wrap-layout1 bg-color-accent2">
    <div class="container">
        <div class="rc-carousel" data-loop="true" data-items="8" data-margin="30" data-autoplay="false" data-autoplay-timeout="5000" data-smart-speed="700" data-dots="false" data-nav="false" data-nav-speed="false" data-r-x-small="2" data-r-x-small-nav="false"
            data-r-x-small-dots="false" data-r-x-medium="3" data-r-x-medium-nav="false" data-r-x-medium-dots="false" data-r-small="4" data-r-small-nav="false" data-r-small-dots="false" data-r-medium="4" data-r-medium-nav="false" data-r-medium-dots="false"
            data-r-large="5" data-r-large-nav="false" data-r-large-dots="false" data-r-extra-large="6" data-r-extra-large-nav="false" data-r-extra-large-dots="false">
            <div class="brand-box-layout1"><img src="{% static 'media/brand/brand1.png' %}" alt="Brand-thumb"></div>
            <div class="brand-box-layout1"><img src="{% static 'media/brand/brand2.png' %}" alt="Brand-thumb"></div>
            <div class="brand-box-layout1"><img src="{% static 'media/brand/brand3.png' %}" alt="Brand-thumb"></div>
            <div class="brand-box-layout1"><img src="{% static 'media/brand/brand4.png' %}" alt="Brand-thumb"></div>
            <div class="brand-box-layout1"><img src="{% static 'media/brand/brand5.png' %}" alt="Brand-thumb"></div>
            <div class="brand-box-layout1"><img src="{% static 'media/brand/brand6.png' %}" alt="Brand-thumb"></div>
            <div class="brand-box-layout1"><img src="{% static 'media/brand/brand3.png' %}" alt="Brand-thumb"></div>
        </div>
    </div>
</section>