{% load static %}
<section id="feature" class="feature-wrap-layout1">
    <div class="container">
        <div class="row gutters-50">
            <div class="col-lg-6 col-12 has-animation">
                <div class="feature-box-layout1">
                    <div class="translate-left-75 opacity-animation transition-150 transition-delay-10">
                        <img src="{% static 'media/feature/feature1.png' %}" alt="Feature">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12 d-flex align-items-center justify-content-center has-animation">
                <div class="feature-box-layout1">
                    <div class="translate-bottom-75 opacity-animation transition-150 transition-delay-100">
                        <h3 class="item-title">We Consultant to Get Business Plan</h3>
                    </div>
                    <div class="translate-bottom-75 opacity-animation transition-150 transition-delay-500">
                        <div class="sub-title">Grursus mal suada faci lisis Lorem ipsum dolarorit the more as ametion
                            consectetur than elit.</div>
                    </div>
                    <div class="translate-bottom-75 opacity-animation transition-150 transition-delay-900">
                        <p>Rsus mal suada and fadolorit to the consectetur elit. All the at Lorem to Ipsum generators on
                            the Internet tend to repeat on predefined that and chunks as the Internet more then have
                            that. The the Lorem to IInternet
                            more dummy text tend.</p>
                    </div>
                    <div class="translate-bottom-75 opacity-animation transition-150 transition-delay-1300">
                        <a href="about.html" class="mt-4 btn-fill btn-gradient">Read More <i
                                class="flaticon-next"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12 order-lg-1 d-lg-flex align-items-center justify-content-center has-animation d-none">
                <div class="indicator-wrap">
                    <svg class="dash-left" width="675" height="206">
                        <g fill="none" stroke-width="2">
                            <path class="dashed1" stroke="rgba(17, 17, 17, 0.3)" stroke-dasharray="6, 6"
                                stroke-linecap="butt" stroke-linejoin="miter"
                                d="M3.000,0.995 L3.000,100.997 L673.000,101.994 L673.000,207.995" />
                            <path class="dashed2" stroke="white" stroke-dasharray="6, 6" stroke-linecap="butt"
                                stroke-linejoin="miter"
                                d="M3.000,0.995 L3.000,100.997 L673.000,101.994 L673.000,207.995" />
                        </g>
                    </svg>
                    <div class="indicator-img-right">
                        <div class="translate-top-50 opacity-animation transition-100 transition-delay-2500">
                            <img src="{% static 'media/element/element2.png' %}" alt="element">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 order-lg-3 col-12 has-animation">
                <div class="feature-box-layout1">
                    <div class="translate-right-75 opacity-animation transition-150 transition-delay-50">
                        <img src="{% static 'media/feature/feature2.png' %}" alt="Feature">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 order-lg-2 col-12 d-flex align-items-center justify-content-center has-animation">
                <div class="feature-box-layout1">
                    <div class="translate-bottom-75 opacity-animation transition-150 transition-delay-100">
                        <h3 class="item-title">Brainstorming, Researching, Planning and Strategizing Work</h3>
                    </div>
                    <div class="translate-bottom-75 opacity-animation transition-150 transition-delay-500">
                        <p>Grursus mal suada faci lisis Lorem ipsum dolarorit more a ametion at that and more
                            consectetur elit. Vesti at bulum nec odio aea the dumm the more ipsumm ipsum to that that
                            many our rsus.</p>
                    </div>
                    <div class="translate-bottom-75 opacity-animation transition-150 transition-delay-900">
                        <ul class="list-layout1">
                            <li>
                                <h4 class="inner-item-title">Reporting & Analysis</h4>
                                <p>Grursus mal suada faci lisis Lorem ipsum dolarorit more that ametion that at
                                    consectetur elit.</p>
                            </li>
                            <li>
                                <h4 class="inner-item-title">Reporting & Analysis</h4>
                                <p>Grursus mal suada faci lisis Lorem ipsum dolarorit more that ametion that at
                                    consectetur elit.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 d-lg-flex align-items-center justify-content-center has-animation d-none">
                <div class="indicator-wrap">
                    <svg class="dash-right" width="675" height="206">
                        <g fill="none" stroke-width="2">
                            <path class="dashed1" stroke="rgba(17, 17, 17, 0.3)" stroke-dasharray="6, 6"
                                stroke-linecap="butt" stroke-linejoin="miter"
                                d="M673.000,0.995 L673.000,100.996 L3.000,101.996 L3.000,207.996" />
                            <path class="dashed2" stroke="white" stroke-dasharray="6, 6" stroke-linecap="butt"
                                stroke-linejoin="miter"
                                d="M673.000,0.995 L673.000,100.996 L3.000,101.996 L3.000,207.996" />
                        </g>
                    </svg>
                    <div class="indicator-img-left">
                        <div class="translate-top-75 opacity-animation transition-100 transition-delay-2500">
                            <img src="{% static 'media/element/element2.png' %}" alt="element">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12 has-animation">
                <div class="feature-box-layout1">
                    <div class="translate-left-75 opacity-animation transition-150 transition-delay-100">
                        <img src="{% static 'media/feature/feature3.png' %}" alt="Feature">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12 d-flex align-items-center justify-content-center has-animation">
                <div class="feature-box-layout1">
                    <div class="translate-bottom-75 opacity-animation transition-150 transition-delay-100">
                        <h3 class="item-title">Our Strength is Cross Boundary Teamwork Done.</h3>
                    </div>
                    <div class="translate-bottom-75 opacity-animation transition-150 transition-delay-500">
                        <p>Grursus mal suada faci lisis Lorem ipsum dolarorit more that ametion that at consectetur
                            elit. Vesti at bulum nec odio aea dumm more this ipsumm to that dolocons.</p>
                    </div>
                    <div class="translate-bottom-75 opacity-animation transition-150 transition-delay-900">
                        <ul class="list-layout2">
                            <li>Grursus mal suada Lorem ipsum dolarorit more ametion.</li>
                            <li>Vesti at bulum nec odio aea the dumm ipsumm.</li>
                            <li>Ipsum that dolocons rsus mal suada and fadolorit.</li>
                            <li>Dolocons rsus mal suada and fadolorit to the consectetur elit.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>