{% load static %}
    <!-- Dependency Scripts -->
    <script src="{% static 'dependencies/popper.js/popper.min.js' %}"></script>
    <script src="{% static 'dependencies/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'dependencies/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'dependencies/jquery.appear/jquery.appear.js' %}"></script>
    <script src="{% static 'dependencies/jquery.parallax-scroll/jquery.parallax-scroll.js' %}"></script>
    <script src="{% static 'dependencies/gmap3/js/gmap3.min.js' %}"></script>
    <script src="{% static 'dependencies/owl.carousel/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'dependencies/slick/js/slick.min.js' %}"></script>
    <script src="{% static 'dependencies/counter-up/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'dependencies/waypoints/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'dependencies/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'dependencies/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'dependencies/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'dependencies/meanmenu/js/jquery.meanmenu.min.js' %}"></script>
    <script src="{% static 'dependencies/Parallaxie-master/parallaxie.js' %}"></script>
    <script src="{% static 'dependencies/nivo-slider/js/jquery.nivo.slider.js' %}"></script>
    <script src="{% static 'dependencies/nivo-slider/js/home.js' %}"></script>
    <script src="{% static 'dependencies/wow/js/wow.min.js' %}"></script>
    <script src="{% static 'dependencies/knob/jquery.knob.js' %}"></script>
    <script src="{% static 'dependencies/countdown/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'dependencies/page-piling/js/jquery.pagepiling.min.js' %}"></script>
    <script src="{% static 'dependencies/tilt/tilt.jquery.min.js' %}"></script>
    <script src="{% static 'dependencies/theia-sticky-sidebar/theia-sticky-sidebar.min.js' %}"></script>
    <script src="{% static 'dependencies/theia-sticky-sidebar/resize-sensor.min.js' %}"></script>
    <script src="{% static 'dependencies/magnific-popup/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'dependencies/validator/validator.min.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB13ZAvCezMx5TETYIiGlzVIq65Mc2FG5g"></script>

    <!-- Site Scripts -->
    <script src="{% static 'assets/js/app.js' %}"></script>
