{% load static %}
<header class="sticky-on">
    <div id="sticky-placeholder"></div>
    <div id="navbar-wrap" class="navbar-wrap">
        <div class="navbar-layout1">
            <div class="container navbarblog">
                <div class="row no-gutters d-flex align-items-center position-relative">
                    <div class="col-lg-2 d-flex justify-content-start">
                        <div class="temp-logo text-center" style="height: 10vh;">
                            <a href="{% url 'index' %}" class="default-logo">
                                <img  src="{% static 'media/logo-light.png' %}" alt="logo" class="img-fluid logos">
                            </a>
                            <a href="{% url 'index' %}" class="sticky-logo">
                                <img src="{% static 'media/logo-light.png' %}"  alt="logo" class="img-fluid logos">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-7 d-flex justify-content-center possition-static">
                        <nav id="dropdown" class="template-main-menu">
                            <ul class="navbar-detail">
                                <li class="d-block d-lg">
                                    <a href="#wrapper" >Home</a>
                                </li>
                                <li>
                                    <a href="#about">About</a>
                                    <ul class="dropdown-menu-col-1">
                                        <li><a href="{% url 'about' %}"><span>About us -1</span></a></li>
                                        <li><a href="{% url 'about2' %}"><span>About us -2</span></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#service">Services</a>
                                    <ul class="dropdown-menu-col-1">
                                        <li><a href="{% url 'service' %}"><span>Service detail</span></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#process">Process</a>
                                </li>
                                <li>
                                    <a href="#feature">Feature</a>

                                </li>
                                <li>
                                    <a href="{% url 'products' %}">Products</a>
                                    <ul class="dropdown-menu-col-1">
                                        <li><a href="{% url 'products' %}"><span>Web aplications</span></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#blog">Blog</a>
                                    <ul class="dropdown-menu-col-1">
                                        <li><a href="{% url 'blog' %}"><span>View all blog</span></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#contact">Contact</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-3 d-flex justify-content-center">
                        <ul class="header-action-items">
                            <li class="single-item">
                                <a href="#template-search" title="Search" class="header-search">
                                    <i class="flaticon-search"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


    </div>
</header>