{% load static %}
<section class="pricing-wrap-layout1 section-padding-md bg-gradient-layout3 overflow-hidden">
    <div class="container">
        <div class="section-heading heading-dark heading-layout1">
            <div class="heading-sub-title">PRICING PLAN</div>
            <h2 class="heading-main-title">No Hidden Charges!</h2>
            <p class="heading-paragraph">Lorem Ipsum is simply dummy text of the printing and typesetting
                has been the industry's standard dummy text ever since</p>
        </div>
        <div class="row no-gutters pricing-box-devider pricing-shadow box-bottom-margin has-animation">
            <div class="col-md-4 col-12">
                <div class="translate-bottom-75 opacity-animation transition-150 transition-delay-100">
                    <div class="pricing-box-layout1">
                        <div class="item-icon color-california"><i class="flaticon-origami"></i></div>
                        <h3 class="item-title">Starter Plan</h3>
                        <ul class="block-list">
                            <li>50GB Bandwidth Internet</li>
                            <li>Business & Financ Analysing</li>
                            <li>25 Social Media Reviews</li>
                            <li>Customer Managemet</li>
                            <li>24/7 Support</li>
                        </ul>
                        <div class="item-price"><span class="currency">$</span>39.99<span class="item-duration">Per
                                Month</span> </div>
                        <a href="#" class="item-btn btn-fill">Order Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="translate-bottom-75 opacity-animation transition-150 transition-delay-600">
                    <div class="pricing-box-layout1">
                        <div class="item-icon color-emerald"><i class="flaticon-aircraft"></i></div>
                        <h3 class="item-title">Advance Plan</h3>
                        <ul class="block-list">
                            <li>50GB Bandwidth Internet</li>
                            <li>Business & Financ Analysing</li>
                            <li>25 Social Media Reviews</li>
                            <li>Customer Managemet</li>
                            <li>24/7 Support</li>
                        </ul>
                        <div class="item-price"><span class="currency">$</span>49.99<span class="item-duration">Per
                                Month</span> </div>
                        <a href="#" class="item-btn btn-fill">Order Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="translate-bottom-75 opacity-animation transition-150 transition-delay-1100">
                    <div class="pricing-box-layout1">
                        <div class="item-icon color-sunset-orange"><i class="flaticon-plane-1"></i></div>
                        <h3 class="item-title">Premium Plan</h3>
                        <ul class="block-list">
                            <li>50GB Bandwidth Internet</li>
                            <li>Business & Financ Analysing</li>
                            <li>25 Social Media Reviews</li>
                            <li>Customer Managemet</li>
                            <li>24/7 Support</li>
                        </ul>
                        <div class="item-price"><span class="currency">$</span>89.99<span class="item-duration">Per
                                Month</span> </div>
                        <a href="#" class="item-btn btn-fill">Order Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>