{% load static %}
<section id="process" class="process-wrap-layout1 section-padding-md bg-color-light position-relative">
    <div class="container">
        <div class="section-heading heading-dark heading-layout1 has-animation">
            <h2 class="heading-main-title">How it Works</h2>
            <div class="heading-icon">
                <svg class="dash-left" width="100" height="20">
                    <g fill="none" stroke-width="4">
                        <path class="dashed1" stroke="rgba(90, 73, 248, 0.5)" stroke-dasharray="5, 5"
                            d="M5 20 l215 0" />
                        <path class="dashed2" stroke="white" stroke-dasharray="5, 5" d="M5 20 l215 0" />
                    </g>
                </svg>
                <i class="flaticon-rocket"></i>
                <svg class="dash-right" width="100" height="20">
                    <g fill="none" stroke-width="4">
                        <path class="dashed1" stroke="rgba(90, 73, 248, 0.5)" stroke-dasharray="5, 5"
                            d="M5 20 l215 0" />
                        <path class="dashed2" stroke="white" stroke-dasharray="5, 5" d="M5 20 l215 0" />
                    </g>
                </svg>


            </div>
            <p class="heading-paragraph">Lorem Ipsum is simply dummy text of the printing and typesetting has been the
                industry's standard dummy text ever since</p>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row d-flex align-items-center">
            <div class="col-xl-6 col-12 order-xl-2 pl-0 pr-0">
                <div class="process-box-layout1">
                    <ul class="figure-holder">
                        <li class="animated-bg">
                            <svg width="993px" height="698px">
                                <path fill-rule="evenodd" opacity="0.502" fill="rgb(240, 246, 254)"
                                    d="M615.878,633.346 C421.616,682.785 207.128,731.954 63.989,573.875 C-94.294,399.069 67.235,87.796 264.299,20.945 C414.319,-29.945 599.731,16.820 724.612,108.132 C826.171,182.390 906.437,307.315 953.564,424.057 C964.863,452.047 974.424,490.636 972.447,520.765 C970.471,550.894 1010.875,682.567 983.375,694.964 C943.433,712.968 842.741,645.666 801.432,631.106 C744.184,610.931 681.174,616.728 615.878,633.346 Z" />
                            </svg>
                        </li>
                        <li class="animated-figure">
                            <img src="{% static 'media/process/process1.png' %}" alt="Process">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-6 col-12 order-xl-1 compress-left-side has-animation">
                <div class="process-box-layout1">
                    <ul class="content-holder">
                        <li>
                            <div class="translate-right-75 transition-150 opacity-animation transition-delay-100">
                                <div class="d-flex align-items-sm-center">
                                    <div class="item-icon dodger-blue">
                                        <i class="flaticon-list"></i>
                                    </div>
                                    <div class="item-content">
                                        <h3 class="item-title">Planning Idea</h3>
                                        <p>Grursus mal suada faci lisis Lorem ipsum the and dolarorit more ametion have
                                            to elit. </p>
                                    </div>
                                </div>
                            </div>
                            <svg x="0px" y="0px" width="312px" height="130px">
                                <path class="dashed1" fill="none" stroke="rgb(95, 93, 93)" stroke-width="1"
                                    stroke-dasharray="1300" stroke-dashoffset="0"
                                    d="M3.121,2.028 C3.121,2.028 1.003,124.928 99.352,81.226 C99.352,81.226 272.319,21.200 310.000,127.338" />
                                <path class="dashed2" fill="none" stroke="#ffffff" stroke-width="2" stroke-dasharray="6"
                                    stroke-dashoffset="1300"
                                    d="M3.121,2.028 C3.121,2.028 1.003,124.928 99.352,81.226 C99.352,81.226 272.319,21.200 310.000,127.338 " />
                            </svg>
                        </li>
                        <li>
                            <div class="translate-left-75 transition-150 opacity-animation transition-delay-1000">
                                <div class="d-flex align-items-sm-center flex-xl-row-reverse">
                                    <div class="item-icon sunset-orange">
                                        <i class="flaticon-research"></i>
                                    </div>
                                    <div class="item-content">
                                        <h3 class="item-title">Planning Idea</h3>
                                        <p>Grursus mal suada faci lisis Lorem ipsum the and dolarorit more ametion have
                                            to elit. </p>
                                    </div>
                                </div>
                            </div>
                            <svg x="0px" y="0px" width="312px" height="130px">
                                <path class="dashed1" fill="none" stroke="rgb(95, 93, 93)" stroke-width="1"
                                    stroke-dasharray="1300" stroke-dashoffset="0"
                                    d="M311.000,0.997 C311.000,0.997 313.123,123.592 214.535,79.996 C214.535,79.996 41.149,20.122 3.377,125.996" />
                                <path class="dashed2" fill="none" stroke="#ffffff" stroke-width="2" stroke-dasharray="6"
                                    stroke-dashoffset="1300"
                                    d="M311.000,0.997 C311.000,0.997 313.123,123.592 214.535,79.996 C214.535,79.996 41.149,20.122 3.377,125.996" />
                            </svg>
                        </li>
                        <li>
                            <div class="translate-right-75 transition-150 opacity-animation transition-delay-2000">
                                <div class="d-flex align-items-sm-center">
                                    <div class="item-icon california">
                                        <i class="flaticon-list"></i>
                                    </div>
                                    <div class="item-content">
                                        <h3 class="item-title">Planning Idea</h3>
                                        <p>Grursus mal suada faci lisis Lorem ipsum the and dolarorit more ametion have
                                            to elit. </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>