{% load static %}
<section class="progress-wrap-layout1 bg-gradient-layout2">
    <div class="progress-inner-wrap bg-position-center bg-no-repeat bg-size-cover parallaxie bg-size-cover bg-no-repeat bg-position-center" data-bg-image="{% static 'media/element/element1.png' %}">
        <div class="container zindex-level-2">
            <div class="row">
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="progress-box-layout1">
                        <h2 class="counting-text counter" data-num="845">845</h2>
                        <div class="item-label">Happy Clients</div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="progress-box-layout1">
                        <h2 class="counting-text counter" data-num="1240">1240</h2>
                        <div class="item-label">Projects Done</div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="progress-box-layout1">
                        <h2 class="counting-text counter" data-num="15420">15420</h2>
                        <div class="item-label">Days Of Work</div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="progress-box-layout1">
                        <h2 class="counting-text counter" data-num="68">68</h2>
                        <div class="item-label">Award Winner</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>