{% load static %}
<section class="gallery-wrap-layout2 section-padding-md-equal bg-color-light">
    <div class="container">
        <div class="isotope-wrap">
            <div class="isotope-classes-tab isotop-btn-layout1">
                <a href="#" class="current nav-item" data-filter=".all">See All</a>
                <a href="#" class="nav-item" data-filter=".branding">Branding</a>
                <a href="#" class="nav-item" data-filter=".design">Web Design </a>
                <a href="#" class="nav-item" data-filter=".ui">UI/UX</a>
                <a href="#" class="nav-item" data-filter=".product">Product</a>
            </div>
            <div class="row featuredContainer">
                <div class="col-md-6 col-12 all branding illustrations">
                    <div class="gallery-box-layout1">
                        <div class="item-figure">
                            <img src="{% static 'media/gallery/gallery5.jpg' %}" alt="gallery">
                        </div>
                        <div class="item-content">
                            <div class="item-icon">
                                <a href="{% static 'media/gallery/gallery5.jpg' %}" class="popup-zoom" data-fancybox-group="gallery"
                                    title=""><i class="fas fa-plus"></i></a>
                            </div>
                            <h3 class="item-title"><a href="gallery-details.html">From Print to Platform</a>
                            </h3>
                            <p>Branding Items</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 all ui product">
                    <div class="gallery-box-layout1">
                        <div class="item-figure">
                            <img src="{% static 'media/gallery/gallery6.jpg' %}" alt="gallery">
                        </div>
                        <div class="item-content">
                            <div class="item-icon">
                                <a href="{% static 'media/gallery/gallery6.jpg' %}" class="popup-zoom" data-fancybox-group="gallery"
                                    title=""><i class="fas fa-plus"></i></a>
                            </div>
                            <h3 class="item-title"><a href="gallery-details.html">From Print to Platform</a>
                            </h3>
                            <p>Branding Items</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 all branding design">
                    <div class="gallery-box-layout1">
                        <div class="item-figure">
                            <img src="{% static 'media/gallery/gallery7.jpg' %}" alt="gallery">
                        </div>
                        <div class="item-content">
                            <div class="item-icon">
                                <a href="{% static 'media/gallery/gallery7.jpg' %}" class="popup-zoom" data-fancybox-group="gallery"
                                    title=""><i class="fas fa-plus"></i></a>
                            </div>
                            <h3 class="item-title"><a href="gallery-details.html">From Print to Platform</a>
                            </h3>
                            <p>Branding Items</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 all ui">
                    <div class="gallery-box-layout1">
                        <div class="item-figure">
                            <img src="{% static 'media/gallery/gallery8.jpg' %}" alt="gallery">
                        </div>
                        <div class="item-content">
                            <div class="item-icon">
                                <a href="{% static 'media/gallery/gallery8.jpg' %}" class="popup-zoom" data-fancybox-group="gallery"
                                    title=""><i class="fas fa-plus"></i></a>
                            </div>
                            <h3 class="item-title"><a href="gallery-details.html">From Print to Platform</a>
                            </h3>
                            <p>Branding Items</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 all branding ui">
                    <div class="gallery-box-layout1">
                        <div class="item-figure">
                            <img src="{% static 'media/gallery/gallery9.jpg' %}" alt="gallery">
                        </div>
                        <div class="item-content">
                            <div class="item-icon">
                                <a href="{% static 'media/gallery/gallery9.jpg' %}" class="popup-zoom" data-fancybox-group="gallery"
                                    title=""><i class="fas fa-plus"></i></a>
                            </div>
                            <h3 class="item-title"><a href="gallery-details.html">From Print to Platform</a>
                            </h3>
                            <p>Branding Items</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 all design ui">
                    <div class="gallery-box-layout1">
                        <div class="item-figure">
                            <img src="{% static 'media/gallery/gallery10.jpg' %}" alt="gallery">
                        </div>
                        <div class="item-content">
                            <div class="item-icon">
                                <a href="{% static 'media/gallery/gallery10.jpg' %}" class="popup-zoom" data-fancybox-group="gallery"
                                    title=""><i class="fas fa-plus"></i></a>
                            </div>
                            <h3 class="item-title"><a href="gallery-details.html">From Print to Platform</a>
                            </h3>
                            <p>Branding Items</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 all branding ui">
                    <div class="gallery-box-layout1">
                        <div class="item-figure">
                            <img src="{% static 'media/gallery/gallery11.jpg' %}" alt="gallery">
                        </div>
                        <div class="item-content">
                            <div class="item-icon">
                                <a href="{% static 'media/gallery/gallery11.jpg' %}" class="popup-zoom" data-fancybox-group="gallery"
                                    title=""><i class="fas fa-plus"></i></a>
                            </div>
                            <h3 class="item-title"><a href="gallery-details.html">From Print to Platform</a>
                            </h3>
                            <p>Branding Items</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 all product">
                    <div class="gallery-box-layout1">
                        <div class="item-figure">
                            <img src="{% static 'media/gallery/gallery12.jpg' %}" alt="gallery">
                        </div>
                        <div class="item-content">
                            <div class="item-icon">
                                <a href="{% static 'media/gallery/gallery12.jpg' %}" class="popup-zoom" data-fancybox-group="gallery"
                                    title=""><i class="fas fa-plus"></i></a>
                            </div>
                            <h3 class="item-title"><a href="gallery-details.html">From Print to Platform</a>
                            </h3>
                            <p>Branding Items</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 all design">
                    <div class="gallery-box-layout1">
                        <div class="item-figure">
                            <img src="{% static 'media/gallery/gallery13.jpg' %}" alt="gallery">
                        </div>
                        <div class="item-content">
                            <div class="item-icon">
                                <a href="{% static 'media/gallery/gallery13.jpg' %}" class="popup-zoom" data-fancybox-group="gallery"
                                    title=""><i class="fas fa-plus"></i></a>
                            </div>
                            <h3 class="item-title"><a href="gallery-details.html">From Print to Platform</a>
                            </h3>
                            <p>Branding Items</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 all branding ul">
                    <div class="gallery-box-layout1">
                        <div class="item-figure">
                            <img src="{% static 'media/gallery/gallery14.jpg' %}" alt="gallery">
                        </div>
                        <div class="item-content">
                            <div class="item-icon">
                                <a href="{% static 'media/gallery/gallery14.jpg' %}" class="popup-zoom" data-fancybox-group="gallery"
                                    title=""><i class="fas fa-plus"></i></a>
                            </div>
                            <h3 class="item-title"><a href="gallery-details.html">From Print to Platform</a>
                            </h3>
                            <p>Branding Items</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>