<section id="call-to-action-wrap-layout1"
    class="call-to-action-wrap-layout1 bg-gradient-layout2 section-padding-sm-equal">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-7 col-12">
                <div class="call-to-action-box-layout1">
                    <h2 class="item-title">Great Things In Business Are Never Done By One Person.</h2>
                </div>
            </div>
            <div class="col-xl-5 col-12">
                <div class="call-to-action-box-layout1 d-flex justify-content-xl-end justify-content-center">
                    <a href="{% url 'pricing' %}" class="item-btn btn-fill btn-light">Purchase Now</a>
                </div>
            </div>
        </div>
    </div>
</section>