{% load static %}
<section class="section-padding-md-equal about-wrap-layout5 overflow-hidden">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-7">
                <div class="about-box-layout5">
                    <div class="figure-holder has-animation">
                        <div class="animated-figure">
                            <div class="translate-zoomout-50 opacity-animation transition-200 transition-delay-100">
                                <img src="{% static 'media/illustration/illustration16.png' %}" alt="About">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="about-box-layout5">
                    <div class="content-holder has-animation">
                        <div class="translate-bottom-75 opacity-animation transition-150 transition-delay-500">
                            <h2 class="item-title">Digital Growth To Our Through Computer</h2>
                        </div>
                        <div class="translate-bottom-75 opacity-animation transition-150 transition-delay-1000">
                            <p>Grursus mal suada faci lisis Lorem ipsum dolarorit more dummy ametion
                                consectetur elit. Vesti at bulum nec odio aea the dumm ipsumm ipsum that
                                dolocons rsus mal suada and fadolorit to the consectetur elit. All the
                                Lorem Ipsum generators on the Internet tend to repeat predefined chunks as
                                necessary, making this the first true generator on the Internet.</p>
                        </div>
                        <div class="translate-bottom-75 opacity-animation transition-150 transition-delay-1500">
                            <a href="about.html" class="btn-fill btn-gradient">Contact Us<i
                                    class="flaticon-next"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>