{% load static %}
<section id="team-wrap-layout1" class="section-padding-md">
    <div class="container">
        <div class="section-heading heading-dark heading-layout1">
            <div class="heading-sub-title">OUR BEST</div>
            <h2 class="heading-main-title">Dedicated Team</h2>
            <p class="heading-paragraph">Lorem Ipsum is simply dummy text of the printing and typesetting
                has been the industry's standard dummy text ever since</p>
        </div>
        <div class="row has-animation rc-carousel nav-control-layout4 col-full-width"
            data-options='{"trigger_start": 991, "trigger_end": 0}' data-loop="true" data-items="30" data-margin="10"
            data-autoplay="false" data-autoplay-timeout="5000" data-smart-speed="700" data-dots="false" data-nav="true"
            data-nav-speed="false" data-r-x-small="1" data-r-x-small-nav="true" data-r-x-small-dots="false"
            data-r-x-medium="1" data-r-x-medium-nav="true" data-r-x-medium-dots="false" data-r-small="2"
            data-r-small-nav="true" data-r-small-dots="false" data-r-medium="2" data-r-medium-nav="true"
            data-r-medium-dots="false" data-r-large="3" data-r-large-nav="true" data-r-large-dots="false"
            data-r-extra-large="3" data-r-extra-large-nav="true" data-r-extra-large-dots="false">
            <div class="col-md-4">
                <div class="translate-bottom-75 opacity-animation transition-150 transition-delay-100">
                    <div class="team-box-layout1">
                        <div class="maks-item animted-bg-wrap">
                            <span class="animted-bg"></span>
                            <div class="item-figure">
                                <img src="{% static  'media/team/team1.jpg' %}" alt="Team">
                            </div>
                            <ul class="social-items">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                        <div class="item-content">
                            <h3 class="item-title"><a href="#">Michael Jackson</a></h3>
                            <div class="sub-title">Ul / Ux Designer</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="translate-bottom-75 opacity-animation transition-150 transition-delay-600">
                    <div class="team-box-layout1">
                        <div class="maks-item animted-bg-wrap">
                            <span class="animted-bg"></span>
                            <div class="item-figure">
                                <img src="{% static 'media/team/team2.jpg' %}" alt="Team">
                            </div>
                            <ul class="social-items">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                        <div class="item-content">
                            <h3 class="item-title"><a href="#">Michael Jackson</a></h3>
                            <div class="sub-title">Ul / Ux Designer</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="translate-bottom-75 opacity-animation transition-150 transition-delay-1100">
                    <div class="team-box-layout1">
                        <div class="maks-item animted-bg-wrap">
                            <span class="animted-bg"></span>
                            <div class="item-figure">
                                <img src="{% static  'media/team/team3.jpg' %}" alt="Team">
                            </div>
                            <ul class="social-items">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                        <div class="item-content">
                            <h3 class="item-title"><a href="#">Michael Jackson</a></h3>
                            <div class="sub-title">Ul / Ux Designer</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>