{% load static %}
<section id="testimonial" class="testimonial-wrap-layout2 section-padding-md bg-color-accent2">
    <div class="container">
        <div class="section-heading heading-dark heading-layout1 has-animation">
            <h2 class="heading-main-title">Clients Testimonials</h2>
            <div class="heading-icon">
                <svg class="dash-left" width="100" height="20">
                    <g fill="none" stroke-width="4">
                        <path class="dashed1" stroke="rgba(90, 73, 248, 0.5)" stroke-dasharray="5, 5"
                            d="M5 20 l215 0" />
                        <path class="dashed2" stroke="white" stroke-dasharray="5, 5" d="M5 20 l215 0" />
                    </g>
                </svg>
                <i class="flaticon-rocket"></i>
                <svg class="dash-right" width="100" height="20">
                    <g fill="none" stroke-width="4">
                        <path class="dashed1" stroke="rgba(90, 73, 248, 0.5)" stroke-dasharray="5, 5"
                            d="M5 20 l215 0" />
                        <path class="dashed2" stroke="white" stroke-dasharray="5, 5" d="M5 20 l215 0" />
                    </g>
                </svg>


            </div>
            <p class="heading-paragraph">Lorem Ipsum is simply dummy text of the printing and typesetting has been the
                industry's standard dummy text ever since</p>
        </div>
        <div class="rc-carousel nav-control-layout1" data-loop="true" data-items="3" data-margin="10"
            data-autoplay="false" data-autoplay-timeout="5000" data-smart-speed="700" data-dots="false" data-nav="true"
            data-nav-speed="false" data-r-x-small="1" data-r-x-small-nav="true" data-r-x-small-dots="false"
            data-r-x-medium="1" data-r-x-medium-nav="true" data-r-x-medium-dots="false" data-r-small="1"
            data-r-small-nav="true" data-r-small-dots="false" data-r-medium="2" data-r-medium-nav="true"
            data-r-medium-dots="false" data-r-large="2" data-r-large-nav="true" data-r-large-dots="false"
            data-r-extra-large="2" data-r-extra-large-nav="true" data-r-extra-large-dots="false">
            <div class="testimonial-box-layout1">
                <div class="top-box">
                    <div class="item-icon">
                        <i class="flaticon-quote"></i>
                    </div>
                    <p>Grursus mal suada faci lisis to at Lorem at the at dolarorit moreametion to consectetur elit. To
                        Vesti bulum at nec that.</p>
                </div>
                <div class="bottom-box">
                    <div class="media">
                        <img src="{% static 'media/testimonial/testimonial1.png' %}" alt="Testimonial">
                        <div class="media-body space-sm">
                            <h3 class="item-title">Robert Bruce</h3>
                            <div class="item-designation">Apps Developer</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-box-layout1">
                <div class="top-box">
                    <div class="item-icon">
                        <i class="flaticon-quote"></i>
                    </div>
                    <p>Grursus mal suada faci lisis to at Lorem at the at dolarorit moreametion to consectetur elit. To
                        Vesti bulum at nec that.</p>
                </div>
                <div class="bottom-box">
                    <div class="media">
                        <img src="{% static 'media/testimonial/testimonial2.png' %}" alt="Testimonial">
                        <div class="media-body space-sm">
                            <h3 class="item-title">Kate Kingston</h3>
                            <div class="item-designation">Web Designer</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-box-layout1">
                <div class="top-box">
                    <div class="item-icon">
                        <i class="flaticon-quote"></i>
                    </div>
                    <p>Grursus mal suada faci lisis to at Lorem at the at dolarorit moreametion to consectetur elit. To
                        Vesti bulum at nec that.</p>
                </div>
                <div class="bottom-box">
                    <div class="media">
                        <img src="{% static 'media/testimonial/testimonial1.png' %}" alt="Testimonial">
                        <div class="media-body space-sm">
                            <h3 class="item-title">Kate Kingston</h3>
                            <div class="item-designation">Web Designer</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
